body {
    margin: 0;
    min-height: 100%;
    background-color: #f6f8ea;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color:#333;
}
.menu {
    display: flex;
    flex-direction:column;
    margin: 50px 0 80px;
    
}
.logotype {
    margin: 0 auto ;
}
.maincont {
    width: 75%;
   margin: 0 auto; 
   max-width: 1400px; 
}
@media (max-width: 1400px) {
    .maincont {
        max-width: 1400px;
   }
}
@media (max-width: 1200px) {
    .maincont {
        max-width: 970px;
   }
}
@media (max-width: 992px) {
    .maincont {
        max-width: 750px;
        
   }
   
}
@media (max-width: 767px) {
    .maincont {
        max-width: none;
   }
   
}
.maincont a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
h1 {
    font-family: 'Aesthet Nova';
    font-size: 38px;
    line-height: 120%;
    text-align: left;
    margin-bottom: 60px;
    margin-right: 40px;
}
h4 {
    font-family: 'Aesthet Nova';
    font-size: 20px;
    margin-top: 60px;
}
p {
    font-family: 'Newsreader', serif;
    font-size: 20px;
    line-height: 150%;
    
}
ul {
    font-family: 'Newsreader', serif;
    font-size: 20px;
    line-height: 150%;
}
a:hover {
    text-decoration: underline;
}









.foot div {
    margin: 0 auto;
}

.foot {
        margin-top: 4%;
        display: flex;
        flex-direction: row ;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 100px;
        background-color :#1e403b ;
    }

.foot a {
    color: white;
    font-size: 20px;
    font-family:'Playfair Display', serif;
    text-decoration: none;
}
.allrul {
    padding-top: 3%;
    padding-left: 5%;
}
.privacy {
    padding-top: 3%;
    padding-left: 15%;
}
.terms {
    padding-top: 3%;
    padding-right: 3%;
}
.overbut {
    display: block;
    width: 60px;
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 25px;
    z-index: 99999;
     
 }